**EJERCICIO 1**

In [ ]:
string = ["VW", "Audi", "Renault", "VW", "BMW"]
character = "W"
for x in range(len(character)):
    string_2 = string.replace('W', ' ')
print("Nueva lista eliminando la letra W: ", string_2)

**EJERCICIO 2**

In [13]:
list(range(-10, 11))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
a = [-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
rev = list(reversed(a))
print(rev)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

**EJERCICIO 3**

In [20]:
frase = "En un lugar de La Mancha, de cuyo nombre no quiero acordarme"
mi_letra = "M"
contador = 0
for letra in frase:
    if letra == mi_letra:
        contador +=1
print("La letra " + mi_letra + " se repite " + str(contador) + " veces")

mi_letra = "m"
contador = 0
for letra in frase:
    if letra == mi_letra:
        contador +=1
print("La letra " + mi_letra + " se repite " + str(contador) + " veces")

La letra M se repite 1 veces
La letra m se repite 2 veces

**EJERCICIO 4**

OPCION 1

In [36]:
list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list.remove(3)
list.remove(4)
list.remove(9)
print(list)

[1, 2, 5, 6, 7, 8, 10]

OPCION 2

In [41]:
list = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]
print(list[0])
print(list[1])
print(list[4])
print(list[5])
print(list[6])
print(list[7])
print(list[9])

1
2
5
6
7
8
10